* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: white;
  color: #333;
  font-family: Merriweather, sans-serif;
}

p {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.65em;
}

a {
  color: #E50914;
}

a:hover,
a:focus {
  text-decoration: none;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.page-wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.header-container {
  /* border: 2px solid violet; */
}

.title-container {
  /* border: 2px solid orange; */
}

.main-container {
  margin-top: 5px;
  /* border: 2px solid yellow; */
}

.social-container {
  margin-top: 5px;
  /* border: 2px solid blue; */
}

.social {
  opacity: .75;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social li {
  list-style: none;
  margin: 0px 5px;
}

.social li:hover a,
.social li:focus a {
  opacity: .85;
}

#header {
  height: 75px;
}

/* mobile styles */
@media only screen and (max-width: 400px) {

}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* desktop styles */
@media only screen and (min-width: 961px) {
  
}